%p
  =image_tag @user.avatar.url(:medium)  
%p
  User: #{@user.name}
%p
  Email: #{@user.email if @user.email}
%p 
  - if @user.cmu
    CMU
  - else
    Non-CMU
%ul
  - @user.contribution_selections.each do |cs|
    %li
      #{cs.contribution_preference.name}: #{cs.preference}

